<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='bootstrap.min.css')}} rel="stylesheet">
    <title>Contact Me</title>
</head>
<body>
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Contact Me</h5>
            <p class="card-text" style="text-align: center;">If you are having trouble or wanted to report a bug please contact me using email</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align: center;">ahnafchatbot@gmail.com</li>
          </ul>
        </div>
      </div>
</body>
</html>